/* Style for the body element */
body {
    font-family: Trebuchet MS, sans-serif;
    background-color: #a0e2d5;
    color :#0f0f03
    
}

/* Style for the heading */
h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* Style for the form container */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

/* Style for the form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Style for the form input fields */
input[type=text] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #555859;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Style for the form submit button */
input[type=submit] {
    background: linear-gradient(to bottom, #d56c6c, #f47171);
    color: #f8eaea;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Style for the form submit button on hover */
input[type=submit]:hover {
    background: linear-gradient(to bottom, #ff4757, #e74c3c);
}
